<div>
  <app-input-field #inputFieldComponent></app-input-field>
</div>
<div>
  <app-output-field></app-output-field>
</div>

<div>
  <app-input-button (clickEvent)="addText( '1')" text="1"></app-input-button>
  <app-input-button (clickEvent)="addText( '2')" text="2"></app-input-button>
  <app-input-button (clickEvent)="addText( '3')" text="3"></app-input-button>
  <app-input-button (clickEvent)="addText( '4')" text="4"></app-input-button>
  <app-input-button (clickEvent)="addText( '5')" text="5"></app-input-button>
  <app-input-button (clickEvent)="addText( '6')" text="6"></app-input-button>
</div>
<div>
  <app-input-button (clickEvent)="addText( '7')" text="7"></app-input-button>
  <app-input-button (clickEvent)="addText( '8')" text="8"></app-input-button>
  <app-input-button (clickEvent)="addText( '9')" text="9"></app-input-button>
  <app-input-button (clickEvent)="addText( '0')" text="0"></app-input-button>
  <app-input-button (clickEvent)="addText( 'ⅇ')" text="ⅇ"></app-input-button>
  <app-input-button (clickEvent)="addText( 'π')" text="π"></app-input-button>
</div>
<div>
  <app-input-button (clickEvent)="addText( '.')" text="."></app-input-button>
  <app-input-button (clickEvent)="addText( '+')" text="+"></app-input-button>
  <app-input-button (clickEvent)="addText( '-')" text="-"></app-input-button>
  <app-input-button (clickEvent)="addText( '*')" text="*"></app-input-button>
  <app-input-button (clickEvent)="addText( '/')" text="/"></app-input-button>
  <app-input-button (clickEvent)="addText( '^')" text="^"></app-input-button>
</div>
<div>
  <app-input-button (clickEvent)="addText( '!')" text="!"></app-input-button>
  <app-input-button (clickEvent)="addText( '√')" text="√"></app-input-button>
  <app-input-button (clickEvent)="addText( '∛')" text="∛"></app-input-button>
  <app-input-button (clickEvent)="addText( '∜')" text="∜"></app-input-button>
  <app-input-button (clickEvent)="addText( '(')" text="("></app-input-button>
  <app-input-button (clickEvent)="addText( ')')" text=")"></app-input-button>
</div>
<div>
  <app-input-button (clickEvent)="addText( 'sin()')" text="sin()"></app-input-button>
  <app-input-button (clickEvent)="addText( 'cos()')" text="cos()"></app-input-button>
  <app-input-button (clickEvent)="addText( 'tan()')" text="tan()"></app-input-button>
  <app-input-button (clickEvent)="addText( 'sec()')" text="sec()"></app-input-button>
  <app-input-button (clickEvent)="addText( 'cosec()')" text="cosec()"></app-input-button>
  <app-input-button (clickEvent)="addText( 'cotan()')" text="cotan()"></app-input-button>
</div>
<div>
  <app-input-button (clickEvent)="addText( 'log()')" text="log()"></app-input-button>
  <app-input-button (clickEvent)="addText( 'ln()')" text="ln()"></app-input-button>
</div>
<div>


