<div>
  <app-input-field></app-input-field>
</div>
<div>
  <app-output-field></app-output-field>
</div>

<div>
  <app-input-button text="1"></app-input-button>
  <app-input-button text="2"></app-input-button>
  <app-input-button text="3"></app-input-button>
  <app-input-button text="4"></app-input-button>
  <app-input-button text="5"></app-input-button>
  <app-input-button text="6"></app-input-button>
</div>
<div>
  <app-input-button text="7"></app-input-button>
  <app-input-button text="8"></app-input-button>
  <app-input-button text="9"></app-input-button>
  <app-input-button text="0"></app-input-button>
  <app-input-button text="ⅇ"></app-input-button>
  <app-input-button text="π"></app-input-button>
</div>
<div>
  <app-input-button text="."></app-input-button>
  <app-input-button text="+"></app-input-button>
  <app-input-button text="-"></app-input-button>
  <app-input-button text="*"></app-input-button>
  <app-input-button text="/"></app-input-button>
  <app-input-button text="^"></app-input-button>
</div>
<div>
  <app-input-button text="!"></app-input-button>
  <app-input-button text="√"></app-input-button>
  <app-input-button text="∛"></app-input-button>
  <app-input-button text="∜"></app-input-button>
  <app-input-button text="("></app-input-button>
  <app-input-button text=")"></app-input-button>
</div>
<div>
  <app-input-button text="sin()"></app-input-button>
  <app-input-button text="cos()"></app-input-button>
  <app-input-button text="tan()"></app-input-button>
  <app-input-button text="sec()"></app-input-button>
  <app-input-button text="cosec()"></app-input-button>
  <app-input-button text="cotan()"></app-input-button>
</div>
<div>
  <app-input-button text="log()"></app-input-button>
  <app-input-button text="ln()"></app-input-button>
</div>
<div>


