<div style="min-height:50px;text-align: center"></div>

<div style="min-height:50px;text-align: center">
  <span style="height: 50px">
    <input-field #inputFieldComponent></input-field>
  </span>
</div>

<div style="min-height:50px;text-align: center">
  <output-field></output-field>
</div>

<div>
  <input-button (clickEvent)="addText( '1')" text="1"></input-button>
  <input-button (clickEvent)="addText( '2')" text="2"></input-button>
  <input-button (clickEvent)="addText( '3')" text="3"></input-button>
  <input-button (clickEvent)="addText( '4')" text="4"></input-button>
  <input-button (clickEvent)="addText( '5')" text="5"></input-button>
  <input-button (clickEvent)="addText( '6')" text="6"></input-button>
</div>
<div>
  <input-button (clickEvent)="addText( '7')" text="7"></input-button>
  <input-button (clickEvent)="addText( '8')" text="8"></input-button>
  <input-button (clickEvent)="addText( '9')" text="9"></input-button>
  <input-button (clickEvent)="addText( '0')" text="0"></input-button>
  <input-button (clickEvent)="addText( 'e')" text="ⅇ"></input-button>
  <input-button (clickEvent)="addText( 'π')" text="π"></input-button>
</div>
<div>
  <input-button (clickEvent)="addText( '.')" text="."></input-button>
  <input-button (clickEvent)="addText( '+')" text="+"></input-button>
  <input-button (clickEvent)="addText( '-')" text="-"></input-button>
  <input-button (clickEvent)="addText( '*')" text="*"></input-button>
  <input-button (clickEvent)="addText( '/')" text="/"></input-button>
  <input-button (clickEvent)="addText( '^')" text="^"></input-button>
</div>
<div>
  <input-button (clickEvent)="addText( '!')" text="!"></input-button>
  <input-button (clickEvent)="addText( '√')" text="√"></input-button>
  <input-button (clickEvent)="addText( '∛')" text="∛"></input-button>
  <input-button (clickEvent)="addText( '∜')" text="∜"></input-button>
  <input-button (clickEvent)="addText( '(')" text="("></input-button>
  <input-button (clickEvent)="addText( ')')" text=")"></input-button>
</div>
<div>
  <input-button (clickEvent)="addText( 'sin()')" text="sin()"></input-button>
  <input-button (clickEvent)="addText( 'cos()')" text="cos()"></input-button>
  <input-button (clickEvent)="addText( 'tan()')" text="tan()"></input-button>
  <input-button (clickEvent)="addText( 'sec()')" text="sec()"></input-button>
  <input-button (clickEvent)="addText( 'cosec()')" text="cosec()"></input-button>
  <input-button (clickEvent)="addText( 'cotan()')" text="cotan()"></input-button>
</div>
<div>
  <input-button (clickEvent)="addText( 'log()')" text="log()"></input-button>
  <input-button (clickEvent)="addText( 'ln()')" text="ln()"></input-button>
  <eval-button (clickEvent)="evaluateExpression()" text="="></eval-button>
</div>
<div>


